$color_body: #F4F4F2;
$color_price: grey;
$base_whitespace: 8px;

body{
  background: $color_body;
}
.list{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: $color_body;
  .acc{
    display: flex;
    flex-direction: column;
    width: calc(100% - 4%);
    margin: 2%;
    padding-bottom: $base_whitespace;
    border-bottom: 1px solid $color_price;
    @media screen and (min-width: 480px) {
      width: calc(50% - 4%);
    }

    @media screen and (min-width: 712px) {
    width: calc(33% - 4%);
  }

    .main-label{
      font-size: 16px;
      margin-bottom: $base_whitespace/2;
    }
    .colour-label{
      font-weight: bolder;
      margin-bottom: $base_whitespace*2;
      font-size: 18px;
    }

    .selected-colour{
      display: flex;
      flex-direction: column;
    }

    img{
      width: 100%;
    }

    .price{
      font-style: italic;
      color: $color_price;
      font-size: 18px;
    }

    .colour-options{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: $base_whitespace*2;

      .colour{
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #b2b2b2;
        margin-right: $base_whitespace/2;
        margin-top: $base_whitespace;
        &.selected{
          border: 1px solid black;
        }
      }
    }
  }
}
